################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Jupiter.Business.Core/bin/Debug/net6.0/Jupiter.Business.Core.dll
/Jupiter.Business.Core/bin/Debug/net6.0/Jupiter.Business.Core.pdb
/Jupiter.Business.Core/bin/Debug/net6.0/Jupiter.Business.Models.dll
/Jupiter.Business.Core/bin/Debug/net6.0/Jupiter.Business.Models.pdb
/Jupiter.Business.Core/bin/Debug/net6.0/Jupiter.Data.DataAccess.dll
/Jupiter.Business.Core/bin/Debug/net6.0/Jupiter.Data.DataAccess.pdb
/Jupiter.Business.Core/bin/Debug/net6.0/Jupiter.Resource.dll
/Jupiter.Business.Core/bin/Debug/net6.0/Jupiter.Resource.pdb
/Jupiter.Business.Core/bin/Debug/net6.0/Jupiter.Utility.dll
/Jupiter.Business.Core/bin/Debug/net6.0/Jupiter.Utility.pdb
/Jupiter.Business.Core/obj/Debug/net6.0/Jupiter.Business.Core.AssemblyInfo.cs
/Jupiter.Business.Core/obj/Debug/net6.0/Jupiter.Business.Core.AssemblyInfoInputs.cache
/Jupiter.Business.Core/obj/Debug/net6.0/Jupiter.Business.Core.assets.cache
/Jupiter.Business.Core/obj/Debug/net6.0/Jupiter.Business.Core.csproj.AssemblyReference.cache
/Jupiter.Business.Core/obj/Debug/net6.0/Jupiter.Business.Core.csproj.CoreCompileInputs.cache
/Jupiter.Business.Core/obj/Debug/net6.0/Jupiter.Business.Core.csproj.FileListAbsolute.txt
/Jupiter.Business.Core/obj/Debug/net6.0/Jupiter.Business.Core.dll
/Jupiter.Business.Core/obj/Debug/net6.0/Jupiter.Business.Core.GeneratedMSBuildEditorConfig.editorconfig
/Jupiter.Business.Core/obj/Debug/net6.0/Jupiter.Business.Core.pdb
/Jupiter.Business.Core/obj/Debug/net6.0/Jupiter.Business.Core.sourcelink.json
/Jupiter.Business.Core/obj/Debug/net6.0/refint/Jupiter.Business.Core.dll
/Jupiter.Business.Models/bin/Debug/net6.0/Jupiter.Business.Models.dll
/Jupiter.Business.Models/bin/Debug/net6.0/Jupiter.Business.Models.pdb
/Jupiter.Business.Models/bin/Debug/net6.0/Jupiter.Resource.dll
/Jupiter.Business.Models/bin/Debug/net6.0/Jupiter.Resource.pdb
/Jupiter.Business.Models/obj/Debug/net6.0/ref/Jupiter.Business.Models.dll
/Jupiter.Business.Core/obj/Debug/net6.0/ref/Jupiter.Business.Core.dll
/Jupiter.Business.Core/obj/Release/net6.0/Jupiter.Business.Core.AssemblyInfo.cs
/Jupiter.Business.Core/obj/Release/net6.0/Jupiter.Business.Core.AssemblyInfoInputs.cache
/Jupiter.Business.Core/obj/Jupiter.Business.Core.csproj.nuget.dgspec.json
/Jupiter.Business.Core/obj/Jupiter.Business.Core.csproj.nuget.g.props
/Jupiter.Business.Core/obj/project.assets.json
/Jupiter.Business.Core/obj/project.nuget.cache
/Jupiter.Business.Core/obj/Release/net6.0/Jupiter.Business.Core.csproj.AssemblyReference.cache
/Jupiter.Business.Core/obj/Release/net6.0/Jupiter.Business.Core.GeneratedMSBuildEditorConfig.editorconfig
/Jupiter.Business.Models/obj/Debug/net6.0/Jupiter.Business.Models.AssemblyInfo.cs
/Jupiter.Business.Models/obj/Debug/net6.0/Jupiter.Business.Models.AssemblyInfoInputs.cache
/Jupiter.Business.Models/obj/Debug/net6.0/Jupiter.Business.Models.assets.cache
/Jupiter.Business.Models/obj/Debug/net6.0/Jupiter.Business.Models.csproj.AssemblyReference.cache
/Jupiter.Business.Models/obj/Debug/net6.0/Jupiter.Business.Models.csproj.CoreCompileInputs.cache
/Jupiter.Business.Models/obj/Debug/net6.0/Jupiter.Business.Models.csproj.FileListAbsolute.txt
/Jupiter.Business.Models/obj/Debug/net6.0/Jupiter.Business.Models.dll
/Jupiter.Business.Models/obj/Debug/net6.0/Jupiter.Business.Models.GeneratedMSBuildEditorConfig.editorconfig
/Jupiter.Business.Models/obj/Debug/net6.0/Jupiter.Business.Models.pdb
/Jupiter.Business.Models/obj/Debug/net6.0/Jupiter.Business.Models.sourcelink.json
/Jupiter.Business.Models/obj/Debug/net6.0/refint/Jupiter.Business.Models.dll
/Jupiter.Data.DataAccess/bin/Debug/net6.0/Jupiter.Business.Models.dll
/Jupiter.Data.DataAccess/bin/Debug/net6.0/Jupiter.Business.Models.pdb
/Jupiter.Data.DataAccess/bin/Debug/net6.0/Jupiter.Data.DataAccess.dll
/Jupiter.Data.DataAccess/bin/Debug/net6.0/Jupiter.Data.DataAccess.pdb
/Jupiter.Data.DataAccess/bin/Debug/net6.0/Jupiter.Resource.dll
/Jupiter.Data.DataAccess/bin/Debug/net6.0/Jupiter.Resource.pdb
/Jupiter.Data.DataAccess/bin/Debug/net6.0/Jupiter.Utility.dll
/Jupiter.Data.DataAccess/bin/Debug/net6.0/Jupiter.Utility.pdb
/Jupiter.Data.DataAccess/obj/Debug/net6.0/ref/Jupiter.Data.DataAccess.dll
/Jupiter.Data.DataAccess/obj/Debug/net6.0/refint/Jupiter.Data.DataAccess.dll
/.gitignore
/Jupiter.WebApi/src/Infrastructure/obj/JupiterWeb.Persistence.csproj.nuget.dgspec.json
/Jupiter.WebApi/src/Infrastructure/obj/JupiterWeb.Persistence.csproj.nuget.g.props
/Jupiter.WebApi/src/Infrastructure/obj/project.assets.json
/Jupiter.WebApi/src/Infrastructure/obj/project.nuget.cache
/Jupiter.WebApi/src/Infrastructure/obj/Release/net6.0/JupiterWeb.Persistence.AssemblyInfo.cs
/Jupiter.WebApi/src/Infrastructure/obj/Release/net6.0/JupiterWeb.Persistence.AssemblyInfoInputs.cache
/Jupiter.WebApi/src/Infrastructure/obj/Release/net6.0/JupiterWeb.Persistence.csproj.AssemblyReference.cache
/Jupiter.WebApi/src/Infrastructure/obj/Release/net6.0/JupiterWeb.Persistence.GeneratedMSBuildEditorConfig.editorconfig
/Jupiter.WebApi/src/Infrastructure/obj/Debug/net6.0/JupiterWeb.Persistence.AssemblyInfo.cs
/Jupiter.WebApi/src/Infrastructure/obj/Debug/net6.0/JupiterWeb.Persistence.AssemblyInfoInputs.cache
/Jupiter.WebApi/src/Infrastructure/obj/Debug/net6.0/JupiterWeb.Persistence.assets.cache
/Jupiter.WebApi/src/Infrastructure/obj/Debug/net6.0/JupiterWeb.Persistence.csproj.AssemblyReference.cache
/Jupiter.WebApi/src/Infrastructure/obj/Debug/net6.0/JupiterWeb.Persistence.csproj.CoreCompileInputs.cache
/Jupiter.WebApi/src/Infrastructure/obj/Debug/net6.0/JupiterWeb.Persistence.csproj.FileListAbsolute.txt
/Jupiter.WebApi/src/Infrastructure/obj/Debug/net6.0/JupiterWeb.Persistence.dll
/Jupiter.WebApi/src/Infrastructure/obj/Debug/net6.0/JupiterWeb.Persistence.GeneratedMSBuildEditorConfig.editorconfig
/Jupiter.WebApi/src/Infrastructure/obj/Debug/net6.0/JupiterWeb.Persistence.genruntimeconfig.cache
/Jupiter.WebApi/src/Infrastructure/obj/Debug/net6.0/JupiterWeb.Persistence.pdb
/Jupiter.WebApi/src/Infrastructure/obj/Debug/net6.0/JupiterWeb.Persistence.sourcelink.json
/Jupiter.WebApi/src/Infrastructure/obj/Debug/net6.0/refint/JupiterWeb.Persistence.dll
/Jupiter.WebApi/src/Infrastructure/bin/Debug/net6.0/Jupiter.Business.Core.dll
/Jupiter.WebApi/src/Infrastructure/bin/Debug/net6.0/Jupiter.Business.Core.pdb
/Jupiter.WebApi/src/Infrastructure/bin/Debug/net6.0/Jupiter.Business.Models.dll
/Jupiter.WebApi/src/Infrastructure/bin/Debug/net6.0/Jupiter.Business.Models.pdb
/Jupiter.WebApi/src/Infrastructure/bin/Debug/net6.0/Jupiter.Data.DataAccess.dll
/Jupiter.WebApi/src/Infrastructure/bin/Debug/net6.0/Jupiter.Data.DataAccess.pdb
/Jupiter.WebApi/src/Infrastructure/bin/Debug/net6.0/Jupiter.Resource.dll
/Jupiter.WebApi/src/Infrastructure/bin/Debug/net6.0/Jupiter.Resource.pdb
/Jupiter.WebApi/src/Infrastructure/bin/Debug/net6.0/Jupiter.Utility.dll
/Jupiter.WebApi/src/Infrastructure/bin/Debug/net6.0/Jupiter.Utility.pdb
/Jupiter.WebApi/src/Infrastructure/bin/Debug/net6.0/JupiterWeb.Application.dll
/Jupiter.WebApi/src/Infrastructure/bin/Debug/net6.0/JupiterWeb.Application.pdb
/Jupiter.WebApi/src/Infrastructure/bin/Debug/net6.0/JupiterWeb.Domain.dll
/Jupiter.WebApi/src/Infrastructure/bin/Debug/net6.0/JupiterWeb.Domain.pdb
/Jupiter.WebApi/src/Infrastructure/bin/Debug/net6.0/JupiterWeb.Persistence.dll
/Jupiter.WebApi/src/Infrastructure/bin/Debug/net6.0/JupiterWeb.Persistence.pdb
/Jupiter.WebApi/src/Core/JupiterWeb.Domain/obj/Debug/net6.0/JupiterWeb.Domain.AssemblyInfo.cs
/Jupiter.WebApi/src/Core/JupiterWeb.Domain/obj/Debug/net6.0/JupiterWeb.Domain.AssemblyInfoInputs.cache
/Jupiter.WebApi/src/Core/JupiterWeb.Domain/obj/Debug/net6.0/JupiterWeb.Domain.assets.cache
/Jupiter.WebApi/src/Core/JupiterWeb.Domain/obj/Debug/net6.0/JupiterWeb.Domain.csproj.AssemblyReference.cache
/Jupiter.WebApi/src/Core/JupiterWeb.Domain/obj/Debug/net6.0/JupiterWeb.Domain.csproj.CoreCompileInputs.cache
/Jupiter.WebApi/src/Core/JupiterWeb.Domain/obj/Debug/net6.0/JupiterWeb.Domain.csproj.FileListAbsolute.txt
/Jupiter.WebApi/src/Core/JupiterWeb.Domain/obj/Debug/net6.0/JupiterWeb.Domain.dll
/Jupiter.WebApi/src/Core/JupiterWeb.Domain/obj/Debug/net6.0/JupiterWeb.Domain.GeneratedMSBuildEditorConfig.editorconfig
/Jupiter.WebApi/src/Core/JupiterWeb.Domain/obj/Debug/net6.0/JupiterWeb.Domain.pdb
/Jupiter.WebApi/src/Core/JupiterWeb.Domain/obj/Debug/net6.0/JupiterWeb.Domain.sourcelink.json
/Jupiter.WebApi/src/Core/JupiterWeb.Domain/obj/Debug/net6.0/refint/JupiterWeb.Domain.dll
/Jupiter.WebApi/src/Core/JupiterWeb.Domain/obj/JupiterWeb.Domain.csproj.nuget.dgspec.json
/Jupiter.WebApi/src/Core/JupiterWeb.Domain/obj/JupiterWeb.Domain.csproj.nuget.g.props
/Jupiter.WebApi/src/Core/JupiterWeb.Domain/obj/project.assets.json
/Jupiter.WebApi/src/Core/JupiterWeb.Domain/obj/project.nuget.cache
/Jupiter.WebApi/src/Core/JupiterWeb.Domain/obj/Release/net6.0/JupiterWeb.Domain.AssemblyInfo.cs
/Jupiter.WebApi/src/Core/JupiterWeb.Domain/obj/Release/net6.0/JupiterWeb.Domain.AssemblyInfoInputs.cache
/Jupiter.WebApi/src/Core/JupiterWeb.Domain/obj/Release/net6.0/JupiterWeb.Domain.GeneratedMSBuildEditorConfig.editorconfig
/Jupiter.WebApi/src/Core/JupiterWeb.Application/obj/JupiterWeb.Application.csproj.nuget.dgspec.json
/Jupiter.WebApi/src/Core/JupiterWeb.Application/obj/JupiterWeb.Application.csproj.nuget.g.props
/Jupiter.WebApi/src/Core/JupiterWeb.Application/obj/project.assets.json
/Jupiter.WebApi/src/Core/JupiterWeb.Application/obj/project.nuget.cache
/Jupiter.WebApi/src/Core/JupiterWeb.Application/obj/Release/net6.0/JupiterWeb.Application.AssemblyInfo.cs
/Jupiter.WebApi/src/Core/JupiterWeb.Application/obj/Release/net6.0/JupiterWeb.Application.AssemblyInfoInputs.cache
/Jupiter.WebApi/src/Core/JupiterWeb.Application/obj/Release/net6.0/JupiterWeb.Application.csproj.AssemblyReference.cache
/Jupiter.WebApi/src/Core/JupiterWeb.Application/obj/Release/net6.0/JupiterWeb.Application.GeneratedMSBuildEditorConfig.editorconfig
/Jupiter.WebApi/src/Core/JupiterWeb.Application/obj/Debug/net6.0/JupiterWeb.Application.AssemblyInfo.cs
/Jupiter.WebApi/src/Core/JupiterWeb.Application/obj/Debug/net6.0/JupiterWeb.Application.AssemblyInfoInputs.cache
/Jupiter.WebApi/src/Core/JupiterWeb.Application/obj/Debug/net6.0/JupiterWeb.Application.assets.cache
/Jupiter.WebApi/src/Core/JupiterWeb.Application/obj/Debug/net6.0/JupiterWeb.Application.csproj.AssemblyReference.cache
/Jupiter.WebApi/src/Core/JupiterWeb.Application/obj/Debug/net6.0/JupiterWeb.Application.csproj.CoreCompileInputs.cache
/Jupiter.WebApi/src/Core/JupiterWeb.Application/obj/Debug/net6.0/JupiterWeb.Application.csproj.FileListAbsolute.txt
/Jupiter.WebApi/src/Core/JupiterWeb.Application/obj/Debug/net6.0/JupiterWeb.Application.dll
/Jupiter.WebApi/src/Core/JupiterWeb.Application/obj/Debug/net6.0/JupiterWeb.Application.GeneratedMSBuildEditorConfig.editorconfig
/Jupiter.WebApi/src/Core/JupiterWeb.Application/obj/Debug/net6.0/JupiterWeb.Application.pdb
/Jupiter.WebApi/src/Core/JupiterWeb.Application/obj/Debug/net6.0/JupiterWeb.Application.sourcelink.json
/Jupiter.WebApi/src/Core/JupiterWeb.Application/obj/Debug/net6.0/refint/JupiterWeb.Application.dll
/Jupiter.WebApi/src/Core/JupiterWeb.Application/bin/Debug/net6.0/Jupiter.Business.Models.dll
/Jupiter.WebApi/src/Core/JupiterWeb.Application/bin/Debug/net6.0/Jupiter.Business.Models.pdb
/Jupiter.WebApi/src/Core/JupiterWeb.Application/bin/Debug/net6.0/Jupiter.Data.DataAccess.dll
/Jupiter.WebApi/src/Core/JupiterWeb.Application/bin/Debug/net6.0/Jupiter.Data.DataAccess.pdb
/Jupiter.WebApi/src/Core/JupiterWeb.Application/bin/Debug/net6.0/Jupiter.Resource.dll
/Jupiter.WebApi/src/Core/JupiterWeb.Application/bin/Debug/net6.0/Jupiter.Resource.pdb
/Jupiter.WebApi/src/Core/JupiterWeb.Application/bin/Debug/net6.0/Jupiter.Utility.dll
/Jupiter.WebApi/src/Core/JupiterWeb.Application/bin/Debug/net6.0/Jupiter.Utility.pdb
/Jupiter.WebApi/src/Core/JupiterWeb.Application/bin/Debug/net6.0/JupiterWeb.Application.dll
/Jupiter.WebApi/src/Core/JupiterWeb.Application/bin/Debug/net6.0/JupiterWeb.Application.pdb
/Jupiter.WebApi/src/Core/JupiterWeb.Application/bin/Debug/net6.0/JupiterWeb.Domain.dll
/Jupiter.WebApi/src/Core/JupiterWeb.Application/bin/Debug/net6.0/JupiterWeb.Domain.pdb
/Jupiter.WebApi/src/API/obj/Jupiter.WebApi.csproj.nuget.dgspec.json
/Jupiter.WebApi/src/API/obj/Jupiter.WebApi.csproj.nuget.g.props
/Jupiter.WebApi/src/API/obj/project.assets.json
/Jupiter.WebApi/src/API/obj/project.nuget.cache
/Jupiter.WebApi/src/API/obj/Release/net6.0/Jupiter.WebApi.AssemblyInfo.cs
/Jupiter.WebApi/src/API/obj/Release/net6.0/Jupiter.WebApi.AssemblyInfoInputs.cache
/Jupiter.WebApi/src/API/obj/Release/net6.0/Jupiter.WebApi.csproj.AssemblyReference.cache
/Jupiter.WebApi/src/API/obj/Release/net6.0/Jupiter.WebApi.GeneratedMSBuildEditorConfig.editorconfig
/Jupiter.WebApi/src/API/obj/Debug/net6.0/apphost.exe
/Jupiter.WebApi/src/API/obj/Debug/net6.0/Jupiter.WebApi.AssemblyInfo.cs
/Jupiter.WebApi/src/API/obj/Debug/net6.0/Jupiter.WebApi.AssemblyInfoInputs.cache
/Jupiter.WebApi/src/API/obj/Debug/net6.0/Jupiter.WebApi.assets.cache
/Jupiter.WebApi/src/API/obj/Debug/net6.0/Jupiter.WebApi.csproj.AssemblyReference.cache
/Jupiter.WebApi/src/API/obj/Debug/net6.0/Jupiter.WebApi.csproj.CoreCompileInputs.cache
/Jupiter.WebApi/src/API/obj/Debug/net6.0/Jupiter.WebApi.csproj.FileListAbsolute.txt
/Jupiter.WebApi/src/API/obj/Debug/net6.0/Jupiter.WebApi.dll
/Jupiter.WebApi/src/API/obj/Debug/net6.0/Jupiter.WebApi.GeneratedMSBuildEditorConfig.editorconfig
/Jupiter.WebApi/src/API/obj/Debug/net6.0/Jupiter.WebApi.genruntimeconfig.cache
/Jupiter.WebApi/src/API/obj/Debug/net6.0/Jupiter.WebApi.pdb
/Jupiter.WebApi/src/API/obj/Debug/net6.0/Jupiter.WebApi.sourcelink.json
/Jupiter.WebApi/src/API/obj/Debug/net6.0/refint/Jupiter.WebApi.dll
/Jupiter.WebApi/src/API/obj/Debug/net6.0/staticwebassets.build.json
/Jupiter.WebApi/src/API/obj/Debug/net6.0/staticwebassets.development.json
/Jupiter.WebApi/src/API/obj/Debug/net6.0/staticwebassets.pack.json
/Jupiter.WebApi/src/API/bin/Debug/net6.0/Jupiter.Business.Core.dll
/Jupiter.WebApi/src/API/bin/Debug/net6.0/Jupiter.Business.Core.pdb
/Jupiter.WebApi/src/API/bin/Debug/net6.0/Jupiter.Business.Models.dll
/Jupiter.WebApi/src/API/bin/Debug/net6.0/Jupiter.Business.Models.pdb
/Jupiter.WebApi/src/API/bin/Debug/net6.0/Jupiter.Data.DataAccess.dll
/Jupiter.WebApi/src/API/bin/Debug/net6.0/Jupiter.Data.DataAccess.pdb
/Jupiter.WebApi/src/API/bin/Debug/net6.0/Jupiter.Resource.dll
/Jupiter.WebApi/src/API/bin/Debug/net6.0/Jupiter.Resource.pdb
/Jupiter.WebApi/src/API/bin/Debug/net6.0/Jupiter.Utility.dll
/Jupiter.WebApi/src/API/bin/Debug/net6.0/Jupiter.Utility.pdb
/Jupiter.WebApi/src/API/bin/Debug/net6.0/Jupiter.WebApi.dll
/Jupiter.WebApi/src/API/bin/Debug/net6.0/Jupiter.WebApi.exe
/Jupiter.WebApi/src/API/bin/Debug/net6.0/Jupiter.WebApi.pdb
/Jupiter.WebApi/src/API/bin/Debug/net6.0/Jupiter.WebApi.staticwebassets.runtime.json
/Jupiter.WebApi/src/API/bin/Debug/net6.0/JupiterWeb.Application.dll
/Jupiter.WebApi/src/API/bin/Debug/net6.0/JupiterWeb.Application.pdb
/Jupiter.WebApi/src/API/bin/Debug/net6.0/JupiterWeb.Domain.dll
/Jupiter.WebApi/src/API/bin/Debug/net6.0/JupiterWeb.Domain.pdb
/Jupiter.WebApi/src/API/bin/Debug/net6.0/JupiterWeb.Persistence.dll
/Jupiter.WebApi/src/API/bin/Debug/net6.0/JupiterWeb.Persistence.pdb
/Jupiter.Utility/obj/Debug/net6.0/Jupiter.Utility.AssemblyInfo.cs
/Jupiter.Utility/obj/Debug/net6.0/Jupiter.Utility.AssemblyInfoInputs.cache
/Jupiter.Utility/obj/Debug/net6.0/Jupiter.Utility.assets.cache
/Jupiter.Utility/obj/Debug/net6.0/Jupiter.Utility.csproj.AssemblyReference.cache
/Jupiter.Utility/obj/Debug/net6.0/Jupiter.Utility.csproj.CoreCompileInputs.cache
/Jupiter.Utility/obj/Debug/net6.0/Jupiter.Utility.csproj.FileListAbsolute.txt
/Jupiter.Utility/obj/Debug/net6.0/Jupiter.Utility.dll
/Jupiter.Utility/obj/Debug/net6.0/Jupiter.Utility.GeneratedMSBuildEditorConfig.editorconfig
/Jupiter.Utility/obj/Debug/net6.0/Jupiter.Utility.pdb
/Jupiter.Utility/obj/Debug/net6.0/Jupiter.Utility.sourcelink.json
/Jupiter.Utility/obj/Debug/net6.0/refint/Jupiter.Utility.dll
/Jupiter.Data.DataAccess/obj/Debug/net6.0/Jupiter.Data.DataAccess.AssemblyInfo.cs
/Jupiter.Data.DataAccess/obj/Debug/net6.0/Jupiter.Data.DataAccess.AssemblyInfoInputs.cache
/Jupiter.Data.DataAccess/obj/Debug/net6.0/Jupiter.Data.DataAccess.assets.cache
/Jupiter.Data.DataAccess/obj/Debug/net6.0/Jupiter.Data.DataAccess.csproj.AssemblyReference.cache
/Jupiter.Data.DataAccess/obj/Debug/net6.0/Jupiter.Data.DataAccess.csproj.CoreCompileInputs.cache
/Jupiter.Data.DataAccess/obj/Debug/net6.0/Jupiter.Data.DataAccess.csproj.FileListAbsolute.txt
/Jupiter.Data.DataAccess/obj/Debug/net6.0/Jupiter.Data.DataAccess.dll
/Jupiter.Data.DataAccess/obj/Debug/net6.0/Jupiter.Data.DataAccess.GeneratedMSBuildEditorConfig.editorconfig
/Jupiter.Data.DataAccess/obj/Debug/net6.0/Jupiter.Data.DataAccess.genruntimeconfig.cache
/Jupiter.Data.DataAccess/obj/Debug/net6.0/Jupiter.Data.DataAccess.pdb
/Jupiter.Data.DataAccess/obj/Debug/net6.0/Jupiter.Data.DataAccess.sourcelink.json
/Jupiter.Data.DataAccess/obj/Jupiter.Data.DataAccess.csproj.nuget.dgspec.json
/Jupiter.Data.DataAccess/obj/Jupiter.Data.DataAccess.csproj.nuget.g.props
/Jupiter.Data.DataAccess/obj/project.assets.json
/Jupiter.Data.DataAccess/obj/project.nuget.cache
/Jupiter.Data.DataAccess/obj/Release/net6.0/Jupiter.Data.DataAccess.AssemblyInfo.cs
/Jupiter.Data.DataAccess/obj/Release/net6.0/Jupiter.Data.DataAccess.AssemblyInfoInputs.cache
/Jupiter.Data.DataAccess/obj/Release/net6.0/Jupiter.Data.DataAccess.csproj.AssemblyReference.cache
/Jupiter.Data.DataAccess/obj/Release/net6.0/Jupiter.Data.DataAccess.GeneratedMSBuildEditorConfig.editorconfig
/Jupiter.Resource/bin/Debug/net6.0/Jupiter.Resource.dll
/Jupiter.Resource/bin/Debug/net6.0/Jupiter.Resource.pdb
